@charset "UTF-8";

/***************
  common
****************/

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

@media (min-width: 768px) {
  main {
    padding: 40px 0;
  }
  main.thin {
    width: 700px;
  }
}

main h1 {
  color: #677;
  text-align: center;
}

/* localNavigation */

.localNavigation {
  margin-bottom: 30px;
  text-align: center;
}

.localNavigation li {
  display: inline-block;
  margin: 0 14px;
}

@media (min-width: 768px) {
  .localNavigation li {
    margin: 0 20px;
  }
}

.localNavigation li a {
  text-decoration: none;
}

/***************
  news page
****************/
.news h1 {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news h1 {
  margin-bottom: 50px;
  }
}

.news .year {
  color: #aaa;
  text-align: center;
}

@media (min-width: 768px) {
  .news .year {
    text-align: left;
  }
}

.newsList li h3 {
  font-size: 16px;
  margin-top: 0;
}
.news .newsList article {
  margin-bottom: 80px;
}

.news .newsList article h2 {
  margin-bottom: 10px;
  text-align: center;
}

.news .newsList article .summary img {
  width: 100%;
}

.news .newsList article .date {
  font-size: 12px;
  color: #aaa;
  text-align: center;
}

@media (min-width: 768px) {
  .news .year, .news .newsList article h2, .news .newsList article .date {
    text-align: left;
  }
}


/***************
  product page
****************/

/* product */
.product h1 {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .product h1 {
  margin-bottom: 50px;
  }
}

.productList {
  list-style-type: none;
}

.product .productList > li {
  margin-bottom: 80px;
  overflow: hidden;
}

.product .productList li img {
  margin-bottom: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .product .productList li img {
    display: block;
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
    width: 400px;
  }
}

.product .productList li .info {
  overflow: hidden;
}

.product .productList li h2 {
  margin-top: 0;
  margin-bottom: 6px;
}

.product .productList li h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.product .productList li .category,
.product .productList li .summary,
.product .productList li .features,
.product .productList li .spec {
  margin-bottom: 10px;
}
.category span{
  padding: 3px 10px;
}

.product .productList li .features li:before {
  content: "ãƒ»";
  vertical-align: middle;
}

/***************
  company page
****************/

.company {
  margin: 0 auto 40px;
  max-width: 980px;
}

.company img {
  display: block;
  width: 100%;
}

.company section {
  margin: 0 auto 30px;
  max-width: 700px;
}

.company section h2 {
  text-align: center;
}

/* access */

.map {
  width: 100%;
  margin-bottom: 20px;
}


.detail table {
  width: 100%;
}

.detail tr {
}

.detail th, .detail td {
  padding: 5px 20px;
}

.detail th {

  text-align: left;
  background: linear-gradient(90deg, #fafad2, #fff); ;
}


/* scroll */
.scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar{
height: 8px;
}
.scroll::-webkit-scrollbar-track{
background: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb {
background: #d6d6d6;
}
.scroll th, .scroll td{
white-space: nowrap;
}


/* contact */

.contact {
  background: #fff;
  padding: 50px 20px;
}

@media (min-width: 768px) {
  .contact {
    padding: 50px 0;
  }
}

.contact h2 {
  text-align: center;
}


textarea {
  padding: 10px;
  width: 100%;
  height: 80px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 8px 50px;
  font-size: 16px;
  background-color: #8d6449;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}

.contact form span.required {
  color: #ff3300;
  font-size: 12px;
}
